rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Demo: acceso abierto. Agregar auth más adelante.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
